<div class="main-home-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Página Inicial Softpymes Test</mat-card-title>
      <mat-card-subtitle
        >Por favor, inicie sesión para continuar</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Este sitio le mostrará todos los usuarios activos que se encuentran en
        nuestro sistema. Por favor, ingrese o regístrese para ver sus detalles y
        realizar las acciones necesarias.
      </p>
    </mat-card-content>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
  </mat-card>
</div>
